html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

#fake {
  display: none;
}

.rating-container {
  border:2px solid gray;
  display: inline-block;
  padding: 8px;
  direction: rtl;
}

.star-icon {
    width: 60px;
    height: 60px;
}

svg {
  fill: white;
  stroke: firebrick;
}

.rating-container input[type="radio"]:checked + label svg{
  fill: darkorange;
} 

.rating-container input[type="radio"]:checked ~  input[type="radio"] + label svg{
  fill: darkorange;
} 

label:hover svg{
  fill: khaki;
}

label:hover  ~  label svg{
  fill: khaki;
}


label {
  display: inline-block;
}

input {
  display: none;
}
